<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sewa Keith - Front End Developer</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../static/css/fontawesome-all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/prettyPhoto.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/js/modernizr.custom.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Header -->
<header id="header">
  <div class="intro text-center">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Ssewannonda Keith</h1>
            <p> <em> "You’re smile is your logo.<br>
               You’re personality is your business card. <br>
               How you leave others feeling after an experience with you becomes your trademark". -Jay Danzie </em></p>
            <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#page-top">Home</a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#skills">Skills</a> </li>
          <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
          <li> <a class="page-scroll" href="#testimonials">Testimonials</a> </li>
          <li> <a class="page-scroll" href="#contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="../static/img/aboutm.jpg" class="img-responsive " alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <p>Keith is a freelance developer and designer who develops web apps, web systems,
             blogs and websites for all economic sectors worldwide.</p>
          <p>My developing career began as a contributor on a Li-Fi project, Transmission of images using Li-Fi
             in 2016. Since then, he has been involved on a variety of projects including Labor college Uganda and his website.
               Contributing to these projects and developing sites has helped grow my soft skills.</p>
          <a href="#portfolio" class="btn btn-primary btn-lg page-scroll">My Portfolio</a> </div>
      </div>
    </div>
  </div>
</div>

<!-- Hobbies section -->

<div class="container-fluid text-center">
  <h2>PERSONAL INTERESTS</h2>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="fas fa-file-code fa-5x cod"></span>
      <h4>CODING</h4>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-plane fa-5x trav"></span>
      <h4>TRAVELLING</h4>
    </div>
    <div class="col-sm-4 wri">
      <span class="fas fa-edit fa-5x"></span>
      <h4>WRITING</h4>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="fas fa-car fa-5x mot"></span>
      <h4>MOTORSPORT FANATIC</h4>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-book-open fa-5x rea"></span>
      <h4>READING NOVELS</h4>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-futbol fa-5x otb"></span>
      <h4>FOOTBALL</h4>
    </div>
  </div>
</div>




<!-- Skills Section -->
<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Skills</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="95"> <span class="percent">95</span> </span>
        <h4>HTML5/CSS3/Javascript/Bootstrap</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
        <h4>Django developer</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="75"> <span class="percent">75</span> </span>
        <h4>Cross platform apps</h4>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>Wordpress</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="85"> <span class="percent">85</span> </span>
        <h4>Security Analyst </h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="93"> <span class="percent">93</span> </span>
        <h4>Scrum / Agile </h4>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Portfolio</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".web">Web Design</a></li>
            <li><a href="#" data-filter=".app">App Development</a></li>
            <li><a href="#" data-filter=".branding">Branding</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/01-large.jpg" title="HR App" rel="prettyPhoto">
              <div class="hover-text">
                <h4>HR App</h4>
                <small>App Development</small> </div>
              <img src="../static/img/portfolio/01-small.jpg" class="img-responsive" alt="HR App"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/10-large.jpg" title="Labour College Website" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Labour College Website</h4>
                <small>Web Design</small> </div>
              <img src="../static/img/portfolio/10-small.jpg" class="img-responsive" alt="Labor College Website"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/15.jpg" title="Wasted Hours" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Wasted Hours</h4>
                <small>App Development</small> </div>
              <img src="../static/img/portfolio/15.jpg" class="img-responsive" alt="Wasted Hours"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/11-large.jpg" title="Personal Website" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Personal Website</h4>
                <small>Web Design</small> </div>
              <img src="../static/img/portfolio/11-small.jpg" class="img-responsive" alt="Personal Website"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/16-large.jpg" title="IHSU Form" rel="prettyPhoto">
              <div class="hover-text">
                <h4>IHSU Form</h4>
                <small>App Development</small> </div>
              <img src="../static/img/portfolio/16-small.jpg" class="img-responsive" alt="IHSU Form"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/12-large.jpg" title="Personal Blog" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Personal Blog</h4>
                <small>Web Design</small> </div>
              <img src="../static/img/portfolio/12-small.jpg" class="img-responsive" alt="Personal Blog"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/07-large.jpg" title="Pet Project" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Pet Project</h4>
                <small>App Development, Branding</small> </div>
              <img src="../static/img/portfolio/07-small.jpg" class="img-responsive" alt="Pet Project"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="../static/img/portfolio/13.jpg" title="Li-Fi App" rel="prettyPhoto">
              <div class="hover-text">
                <h4>Li-Fi App</h4>
                <small>App Development</small> </div>
              <img src="../static/img/portfolio/14.jpg" class="img-responsive" alt="Li-Fi App"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Achievements Section -->
<div id="achievements" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Some Stats</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="200ms">
        <div class="achievement-box"> <span class="count">10</span>
          <h4>Happy Clients</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="400ms">
        <div class="achievement-box"> <span class="count">2700</span>
          <h4>Hours of Work</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="600ms">
        <div class="achievement-box"> <span class="count">5</span>
          <h4>Certificates of Recognition</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="800ms">
        <div class="achievement-box"> <span class="count">3</span>
          <h4>Years of Experience</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Testimonials</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row testimonials">
          <div class="col-sm-4">
            <blockquote><i class="fa fa-quote-left"></i>
              <p>Extremely dedicated focused individual with a touch of class on his finished product.</p>
              <div class="clients-name">
                <p><strong>Prof. Meche</strong><br>
                  <em>HOD, USTO Electric Dept.</em></p>
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote><i class="fa fa-quote-left"></i>
              <p>What he did with our site, marvelous!</p>
              <div class="clients-name">
                <p><strong>Kaggwa Stanley</strong><br>
                  <em>Board chair, Labor College.</em></p>
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote><i class="fa fa-quote-left"></i>
              <p>Since day 1 he has mastered his craft in app development.</p>
              <div class="clients-name">
                <p><strong>Benildo Gulele</strong><br>
                  <em>Eng., Sasol Moz</em></p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>Get In Touch</h2>
        <hr>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-default">Send Message</button>
        </form>
        <div class="social">
          <ul>
            <li><a href="#"><i class="fab fa-facebook 5x"></i></a></li>
            <li><a href="https://twitter.com/skeith696"><i class="fab fa-twitter 5x"></i></a></li>
            <li><a href="#"><i class="fab fa-google 5x"></i></a></li>
            <li><a href="https://github.com/edcsu/"><i class="fab fa-github 5x"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram 5x"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin 10x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Copyright &copy; 2018 Ssewannonda Keith. </p>
    </div>
  </div>
</div>
<script type="text/javascript" src="../static/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="../static/js/bootstrap.js"></script> 
<script type="text/javascript" src="../static/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="../static/js/easypiechart.js"></script> 
<script type="text/javascript" src="../static/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="../static/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="../static/js/jquery.counterup.js"></script> 
<script type="text/javascript" src="../static/js/waypoints.js"></script> 
<script type="text/javascript" src="../static/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="../static/js/contact_me.js"></script> 
<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>